@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Open+Sans:ital,wght@0,800;1,400&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

/* common css styles */
.primary-text {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    padding: 15px 25px;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}


/* nav related styles */
nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

h2 {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}