@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Open+Sans:ital,wght@0,800;1,400&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

/* common css styles */
.primary-text {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    padding: 15px 25px;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}


/* nav related styles */
nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    align-items: center;
    margin: 0px 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

h2 {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* header styles */

.header {
    height: 70vh;
    width: 100vw;
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;

}

.banner {
    padding: 30px 30px 0px 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-profile {
    width: 480px;
    position: relative;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

}

.banner-para {
    margin-bottom: 15px;
}

.banner-content {
    max-width: 500px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* main section style */
.main {
    max-width: 1140px;
    margin: 0px auto;
}

/* about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 70px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;


}

.about-info-container {
    justify-content: space-around;
    display: flex;
    margin-top: 20px;
}

.about-info {
    text-align: center;
}

#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 20px;
    width: 267px;
    height: 300px;
    padding: 30px;
    gap: 24px;
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 500PX;
    margin: 10px 0px;
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.resume-container {
    display: flex;
    gap: 40px;
}

.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
#button{
    text-align: center;
}